<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <display-name>Test</display-name>

    <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>com.epam.web.controller.Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <jsp-config>
        <taglib>
            <taglib-uri>customtags</taglib-uri>
            <taglib-location>/WEB-INF/tld/custom.tld</taglib-location>
        </taglib>
    </jsp-config>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.epam.web.controller.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>language</filter-name>
        <filter-class>com.epam.web.controller.filter.SessionLocaleFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>language</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>authorization</filter-name>
        <filter-class>com.epam.web.controller.filter.AuthorizationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>authorization</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/view/error-pages/error-access.jsp</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/view/error-pages/error-wrong-command.jsp</location>
    </error-page>

    <error-page>
        <location>/WEB-INF/view/error-pages/error.jsp</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/WEB-INF/view/error-pages/error.jsp</location>
    </error-page>
</web-app>